/* Community Style Rules */

body {
    color: #24292e;
    width: 100%;
    max-width: 1440px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.4em;
}

.brand-theme {
    color: #8b6bfa;
}

/* Wizard Header */
.wizard-header {
    text-align: center;
    padding: 20px 40px;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.wizard-header .uvdesk-logo {
    width: 58px;
    line-height: 1em;
    overflow: hidden;
    margin: 0px auto 10px;
}

.wizard-header h1 {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.4em;
}

.wizard-header .line-break {
    height: 1px;
    width: 40px;
    background: #b5b5b5;
    margin: 10px auto 20px;
}

/* Wizard Container */
.wizard-container {
    padding: 40px;
}

ul.button-groups {
    list-style: none;
}

ul.button-groups > li {
    line-height: 1em;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

ul.button-groups > li:last-child {
    margin-right: unset;
}

.wizard-button {
    color: #24292e;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 14px;
    border: 1px solid #24292e;
    border-radius: 4px;
    background: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: color linear 0.2s, background-color linear 0.2s;
}

.wizard-button:hover {
    color: white;
    background: #24292e;
    transition: color linear 0.2s, background-color linear 0.2s;
}

.wizard-button.button-theme-setup {
    color: #2ED04C;
    border: 1px solid #2ED04C;
}

.wizard-button.button-theme-neutral {
    color: #24292e;
    border: 1px solid #24292e;
}

.wizard-button.button-theme-uvdesk {
    color: #7C70F4;
    border: 1px solid #7C70F4;
}

.wizard-button.solid.button-theme-setup, .wizard-button.button-theme-setup:hover {
    color: white;
    background: #2ED04C;
}

.wizard-button.solid.button-theme-neutral, .wizard-button.button-theme-neutral:hover {
    color: white;
    background: #24292e;
}

.wizard-button.solid.button-theme-uvdesk, .wizard-button.button-theme-uvdesk:default {
    color: white;
    background: #7C70F4;
}

/* Installation Step 0: Authorize */
#start-installation {
    width: 60%;
    text-align: center;
    margin: 0px auto;
}

#start-installation ul.button-groups {
    margin-top: 20px;
}
.error_message{
    color:red;
    color: red;
    /* margin-left: 20px; */
    font-size: 15px;
    display: block;
    font-style: italic;
    color: #FF5656 !important;
    margin-left: 17%;
}

.blink_text {
    animation: blinker 1s linear infinite;
}

.uv-loader-view {
    width: 100%;
    height: 100%;
    z-index: 6000;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    display: none;
}
 .uv-loader-view .uv-loader {
    width: 65px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -33px;
    margin-top: -100px;
    transform: scale(2);
}
 .uv-loader span:nth-child(1) {
    left: 0px;
}
 .uv-loader span {
    -webkit-backface-visibility: hidden;
    width: 15px;
    height: 15px;
    position: absolute;
    animation: move-loader 1s infinite ease-in-out;
}
 .uv-loader span:nth-child(2) {
    left: 25px;
    animation-delay: .2s;
}
 .uv-loader span:nth-child(3) {
    left: 50px;
    animation-delay: .4s;
}
 .uv-loader span:before {
    width: 15px;
    height: 15px;
    background: #7C70F4;
    display: block;
    border-radius: 50%;
    position: absolute;
    content: "";
    -webkit-backface-visibility: hidden;
    animation: bounce-loader-before 1s infinite ease-in-out;
    opacity: 0;
}
 .uv-loader span:after {
    width: 15px;
    height: 15px;
    background: #7C70F4;
    display: block;
    border-radius: 50%;
    position: absolute;
    content: "";
    -webkit-backface-visibility: hidden;
    animation: bounce-loader-after 1s infinite ease-in-out;
    opacity: 0;
}

#slider {
    display: block;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}
#slider ul {
    display: inline-block;
}
#slider ul li {
    width: 20px;
    height: 20px;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 50px;
}

#slider ul li.active {
    background-color: #8b6bfa;
}
.btn-collection {
    display: inline-block;
    position: relative;
    top: 37px;
    float: right;
}
.btn-collection button {
    background: #8b6bfa;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes bounce-loader-before {
    0% {
      transform: scale(0);
      opacity: .1;
    }
    50% {
      transform: scale(1.3);
      opacity: .7;
    }
    100% {
      transform: scale(0);
      opacity: .1;
    }
}
@keyframes bounce-loader-after {
    0% {
      transform: scale(1.3);
      opacity: .7;
    }
    50% {
      transform: scale(0.7);
      opacity: .1;
    }
    100% {
      transform: scale(1.3);
      opacity: .7;
    }
}
 @keyframes move-loader {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }
    50% {
      transform: translateY(10px);
      opacity: 1;
    }
    100% {
      transform: translateY(0px);
      opacity: 0;
    }
}

.web-installer>h2 {
    font-size: 24px;
    color: #333333;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
}

.web-installer>form {
    text-align: left;
}

.web-installer>form>div>label {
    width: 17%;
    display: inline-block;
}

.web-installer>form>div>input {
    width: 300px;
    height: 36px;
    border: solid 1px #B1B1AE;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0px 10px;
    font-size: 15px;
    color: #333333;
    margin: 10px 0px;
}