<div class="uv-pop-up-overlay uv-no-error-success-icon" id="cookie-dialog-modal" style="display:none;">
    <div class="uv-pop-up-box uv-pop-up-wide">
        <span class="uv-pop-up-close"></span>
        <h2 style="text-align: center; margin-bottom: 30px;">{{ 'Cookie Usage Policy'|trans }}</h2>
        <div class="uv-element-block" style="line-height: 1.8em;">
            <p>{{ 'Some of our site pages utilize %cookies% and other tracking technologies. A %cookie% is a small text file that may be used, for example, to collect information about site activity. Some cookies and other technologies may serve to recall personal information previously indicated by a site user. You may block cookies, or delete existing cookies, by adjusting the appropriate setting on your browser. Please consult the %help% menu of your browser to learn how to do this. If you block or delete %cookies% you may find the usefulness of our site to be impaired.'|trans({'%cookie%': '<em>' ~ 'cookie'|trans ~ '</em>', '%cookies%': '<em>' ~ 'cookies'|trans ~ '</em>', '%help%': '<b>' ~ 'HELP'|trans ~ '</b>'})|raw }}</p>
            <p>{{ "To know more about how our privacy policy works, please %websiteLink%."|trans({'%websiteLink%': '<a href="https://www.uvdesk.com/en/privacy-policy/" target="_blank">' ~ 'visit our website'|trans ~ '</a>'})|raw }}</p>
        </div>
    </div>
</div>
